<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Post admin login</title>
</head>
<body>
<h1>Welcome Admin !</h1>
<a href="/addDoctor">Add Doctor</a><br><br>
<a href="/removeDoctorByID">Remove Doctor</a><br><br>
<a href="/showAllDoctors">Show all Doctor</a><br><br>
<a href="/removePatient">Remove Patient</a><br><br>
<a href="/showAllPatients">Show all Patient</a><br><br>
<input type="button" value="Go back!" onclick="history.back()"><br><br>
<a href="./">Go To Main Page</a>
</body>
</html>