<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Post Patient Login Page</title>
</head>
<body>
<h1>Hospital Management System</h1>
<hr>
<br> <br>
<h3>Patient Options </h3>

<a href="/showPatient">View Your profile</a> <br> <br>
<a href="/requestAppointment">Request Appointment with Doctor</a> <br> <br>
<a href="/rescheduleAppointment">Reschedule your Appointment</a> <br> <br>
<a href="/cancelAppointment">Cancel your Appointment   </a> <br> <br>
<a href="/viewAllAppointments">View All Appointments   </a>
<a href="./">Go To Main Page</a>
<br>
<br>
 <input type="button" value="Go back!" onclick="history.back()">
</body>
</html>