<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Requesting Appointment</title>
</head>
<body>
<h1>Hospital Management System : </h1>
<hr>
<br><br>
<h2>Request Appointment : </h2>
<form action="/generateAppointment" method="post">
  <label for="appointmentDate">Enter date for appointment :</label>
  <input type="date" id="appointmentDate" name="appointmentDate">
  <input type="submit">
</form>
<br><br>
<input type="button" value="Go back!" onclick="history.back()">
</body>
</html>